body,dd,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,span,ul{margin:0;padding:0;font-family:"Adobe 黑体 Std"!important}
body{overflow-x:hidden;box-sizing:border-box!important;background:#F63C1D}
a{text-decoration:none}
.red{color:#FF4645}
img{border:0}
li,ul{list-style:none}
.clearfix:after{clear:both;display:block;content:""}
.over-flow{overflow:auto;zoom:1}
.left{float:left!important}
.right{float:right!important}
.center{text-align:center!important}
.justify{text-align:justify!important}
.text{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.paddingTop{paddding-top:.2rem}
.paddingBottom{padding-bottom:.2rem}
.marginTop{margin-top:.1rem}
.marginBottom{margin-bottom:.2rem}
.top5{margin-top:.5rem}
.top2{margin-top:.2rem}
.swiper-wrapper{width:100%;height:3rem!important}
.swiper-slide{width:100%!important;height:100%!important;background-position:center center;background-size:100% 100%!important}
