header{width:100%;height:3rem;background:url(../img/qietu.png) no-repeat 0 0;background-size:cover}
main{box-sizing:border-box;padding:0 .175rem;width:100%;height:auto}
.rouebox{border:.2rem solid #000;background:#F4CB00}
.roueImg{position:relative;width:100%;height:.975rem}
.ren{position:absolute;top:0;right:0;bottom:1rem;left:0;margin:auto;width:1.7rem;height:2rem;background:url(../img/roueImg2.png) no-repeat 0 0;background-size:contain}
.roueTitle{width:100%;height:1rem}
.roueTitle h1{height:.33rem;text-align:center;font-size:.15rem;line-height:.33rem}
.roueTitle .roueList{width:100%;height:.22rem;background:#000}
.roueList li{float:left;width:33.33%;height:100%;color:#fff;text-align:center;font-size:.2rem;line-height:.22rem}
.roueCon{width:100%;height:.45rem}
.roueCon li{float:left;width:33.33%;height:100%;text-align:center;font-size:.1rem;line-height:.45rem}
.roueCon li:first-child{box-sizing:border-box;padding-top:.1rem;font-size:.1rem;line-height:.15rem}
.roueCon li span{font-weight:700}
.roueCon li:nth-child(2){font-weight:700}
.roueCon li:last-child{color:#F63C1D;font-weight:700}
.touchBtn,.upIndex{position:relative;top:0;left:0;z-index:30;display:block}
.touch_suc{position:absolute;top:0;right:0;bottom:0;left:0;z-index:20;box-sizing:border-box;margin:auto;padding:.1rem .1rem;width:1.8rem;max-height:1.85rem;background:#fff;background-size:contain;opacity:0;transition:all 1s ease}
.touch_suc p{font-size:.12rem}
.joinTitle{width:100%;height:.45rem;color:#fff;text-align:center;font-size:.2rem;line-height:.45rem}
.phoneBox{position:relative;z-index:30;box-sizing:border-box;margin-bottom:.1rem;padding:.22rem .125rem;border-radius:10px;background:#C82C12}
.phoneBox input{display:block;width:100%;height:.45rem;outline:0;border:0;border-radius:10px;background:#fff;color:#333;text-align:center;font-size:.14rem;line-height:.45rem}
.enterBox{position:relative;z-index:30;width:100%;min-height:.615rem}
.enter_1{position:relative;top:0;left:0;z-index:30;display:block}
.update{position:relative;top:0;left:0;display:block;z-Index:30}
.scokeIndex{z-index:30}
.enderIndex{z-index:30}
.upIndex{z-index:30}
footer{position:relative;box-sizing:border-box;margin-top:.1rem;padding:0 .175rem;width:100%;height:auto}
.tiaozhan{position:relative;top:0;left:0;z-index:1;display:block;width:2.85rem;height:.675rem;outline:0;border:0;border-radius:.25rem;background:#C82C12;color:#fff;text-align:center;font-size:.15rem;line-height:.675rem}
.touch{position:absolute;top:165%;left:5%;z-index:999;width:2.85rem;height:.675rem;background:#ff6700}
.ruleBox{box-sizing:border-box;padding:.15rem .15rem;width:100%;min-height:2.5rem;border-radius:10px;background:#C82C12}
.ruleBox p{margin-bottom:.1rem;width:100%;height:auto;color:#fff;text-align:left;font-size:.12rem}
.rules{position:relative;top:0;left:0;z-index:99;display:block;margin-top:.1rem;margin-left:.1rem;height:.25rem;color:#fff;text-decoration:underline;font-size:.16rem}
.mask{position:absolute;top:0;left:0;z-index:0;display:none;background:rgba(0,0,0,.6);opacity:0;transition:all .5s ease}
.rule{position:fixed;top:0;left:0;box-sizing:border-box;margin-left:.2rem;padding:.15rem .15rem;width:90%;background:#fff;opacity:0;transition:all 1s ease;max-heihgt:2.5rem}
.rule p{margin-bottom:.1rem;text-align:left;font-size:.1rem}
.weixin{color:#fff}
.underline{text-decoration:underline}
.close{position:absolute;top:-.11rem;right:-.11rem;z-index:999;width:.225rem;height:.225rem;background:url(../img/close.png) no-repeat 0 0;background-size:contain}
.Nodate{height:.36rem;color:#fff;text-align:center;font-size:.1rem;line-height:.36rem}
.rankList{margin-bottom:.2rem;padding:.15rem .1rem;height:2.1rem;border-radius:10px;background:#C82C12}
.rank{overflow:auto;box-sizing:border-box;width:100%;height:2.1rem;border:1px solid #fff}
.rankTitle{overflow-x:hidden;width:100%;height:.19rem}
.rankRoue{background:#EDC100}
.rankTitle li{float:left;box-sizing:border-box;width:15%;height:100%;border-right:1px solid #fff;border-bottom:1px solid #fff;color:#fff;text-align:center;font-size:.09rem;line-height:.19rem}
.rankTitle li:nth-of-type(2){width:40%}
.rankTitle li:nth-of-type(3){width:30%}
.rankTitle li:nth-of-type(4){width:15%;border-right:0}
.roueTitles{margin-top:.1rem;height:.96rem;border:4px solid #000;border-radius:10px;background:#F4CB00}
.bwBtn{height:.8rem;color:#EDC100;text-align:center}
.bwBtn h1{height:.4rem;font-size:.22rem;line-height:.4rem}
.bwBtn h2{height:.4rem;text-decoration:underline;font-size:.2rem;line-height:.4rem}
.roueTop{height:.35rem;background:#000}
.roueTop li{float:left;width:20%;height:100%;color:#fff;text-align:center;font-size:.1rem;line-height:.35rem}
.roueTop li:nth-child(2){width:50%}
.roueTop li:last-child{width:30%}
.roueBottom{height:.6rem;background:#F4CB00}
.roueBottom li{color:#000;font-weight:700;line-height:.6rem}
.roueBottom li:nth-child(2){margin-top:.15rem;height:.45rem;line-height:.15rem}
.red{color:#F63C1D!important}
.chui{position:absolute;top:-.5rem;right:35%;width:.9rem;height:.98rem;background:url(../img/chui.png) no-repeat 0 0;background-size:contain;transition:all .5s ease;transform:scale(0,0);transform-origin:bottom}
@-webkit-keyframes touch{0%{transform:rotate(0)}
    100%{transform:rotate(50deg)}
}
#searchStock{position:relative;z-index:1}
#searchStock ul{overflow:auto;overflow-x:hidden;max-height:2.5rem}
#searchStock .li{height:.25rem;border:1px solid #fff;color:#fff;text-align:center;font-size:.15rem;line-height:.25rem}
#searchStock .li:active{background:#EDC100;color:#000}
#searchStock .li:first-child:after,#searchStock .li:first-child:before{position:absolute;left:0;width:100%;height:1px;content:''}
#searchStock .li:first-child:before{top:0;border-top:1px solid #fff}
#searchStock .li:first-child:after{bottom:0;border-bottom:1px solid #fff}
#searchStock li span{float:left;display:block;width:33.33%;height:.25rem}
.tishi{position:absolute;top:0;right:0;bottom:0;left:0;z-index:999999;box-sizing:border-box;margin:auto;padding:.1rem .1rem;width:1.5rem;height:.75rem;border-radius:.05rem;background:#F63C1D;font-size:.06rem;opacity:0;transition:all 1s ease;transform:scale(0,0)}
.hit_tishi{position:fixed;top:0;left:0;width:100%}
.hit_tishi p{max-height:.3rem;color:#fff;text-align:center;line-height:.3rem}
.notice p{display:block;margin-bottom:.1rem;width:100%;max-height:.6rem;color:#fff;text-align:center}
.notice .btn{box-sizing:border-box;padding:0 .15rem;width:100%;height:.15rem}
.btn a{display:block;width:.15rem;height:.1rem;background:#fff;color:#000;text-align:center;font-size:.06rem;line-height:.1rem}
.tishi p{color:#fff;text-align:center;font-size:.08rem;line-height:.55rem}
.logobox{margin-bottom:1rem;width:100%;height:2.5rem}
.logo{margin:0 auto;width:2.5rem;height:2.5rem;background:url(../img/logo.png) no-repeat 0 0;background-size:contain}
.bindphone .container{padding:1.5rem .5rem}
.title{display:block;width:100%;height:1rem}
.decr{display:block;width:100%;height:1.5rem;text-align:center;line-height:1.5rem}
#hit_suc{position:fixed;top:0;right:0;bottom:0;left:0;z-index:0;display:none;box-sizing:border-box;margin:auto;padding:.2rem .1rem;width:100%;height:1rem;border-radius:.1rem;background:#000;text-align:center;line-height:.3rem;opacity:0;transition:all 1s ease}
#hit_suc .hit_close{position:absolute;bottom:0;left:50%}
#hit_suc p{color:#fff;font-size:.2rem}
.hit_color{color:#EDC100}
.hitRote{position:relative;top:-.36rem;right:-2.45rem;display:block;width:.2rem;height:.2rem;border-radius:50%;color:red;font-size:.1rem;opacity:1;transition:all 1s ease}
@keyframes rote{0%{top:-.36rem}
    100%{top:-.56rem}
}
